/*-------------
COLOR VARIABLES
-------------*/

:root {                                
  --back1:    rgba(20,22, 25, 1);          /* background color 1 */
  --back2:    rgba(32,35,42, 1);
  --back3:    rgba(26,28,32, 1);
  --back4:    rgba(255,255,255,0.05);
  --text1:    rgba(255,255,255,0.7);
  --text2:    rgba(255,255,255, 1);
  --text3:    rgba(255,255,255,0.4);
  --accent1:  rgb(228, 200, 148);
  --accent2:  rgb(0, 160, 125);

  --blue:     rgba(159, 214, 236, 1);
  --green:    rgba(155, 190, 91, 1);
  --yellow:   rgba(255, 248, 153, 1);
  --orange:   rgba(218, 170, 108, 1);
  --red:      rgba(238, 145, 122, 1);
}

/*-------------
INDEX CARD MODE     (toggle this section on/off for cards)
-------------*/

/*
.sectionbody hr {
  display: block;
  height: 100px;
  background-image: url("https://github.com/mszob/adoc-theme/blob/main/divider.png?raw=true");
  background-size: 580px;
  border: 0px solid;
  width: 118%;
  margin-left: -40px;
  margin-top: 10px;
  margin-bottom: 30px;
}
html[lang="en"] body {
  background-color: var(--back2) !important;
  position: absolute;
  width: 500px;
  margin-left: 50%;
  left: -275px;
  padding-left: 25px;
  padding-right: 25px;
}
html[lang="en"] {
  background-color: var(--back1);
}
*/

/*-------------------
BACKGROUND AND LAYOUT
-------------------*/

/*background*/
html {
  background-color: var(--back2);
}

/*text area*/
body {
  border-radius: 12px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5px;
  margin-top: 100px;
}

/*heading, title*/
h1,h2,h3,h4,h5,h6,p,.title {
  padding-left: 5px;
  padding-right: 5px;
}

/*paragraph*/
p {
  padding-top: 15px;
  line-height: 1.8;
}

/*list*/
li p {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
ul, ol {
  padding-left: 25px;
  margin-bottom: 20px;
}
ul {
  margin-top: 0px;
}

/*-------------------
FONTS AND TEXT COLORS
-------------------*/

/*default text font*/
p, .title, .content, .hdlist1, .footnote {
  font-family: arial, sans-serif;
}

/*headings and titles font*/
h1, h2, h3, h4, h5, h6, .sidebarblock .content .title, .ulist .title, .olist .title,
.admonitionblock .icon .title, pre, #header .author, #header .details, #email a, #toc,
.note::before, .important::before, .warning::before, .caution::before, .tip::before, th,
table caption.title {
  font-family: menlo, monospace;
}

/*list bullet, list number*/
li::marker {
  color: var(--text3);
  font-family: sans-serif;
}

/*list bullet*/
ul li::marker {
  content: "- ";
}

/*default text color*/
td.content, .ulist .title, p, .hdlist1, th {
  color: var(--text1);
}

/*highlighted text color*/
h1, h2,h3,h4,h5,h6, .sidebarblock .title, table caption.title {
  color: var(--text2);
}

/*link*/
a {
  color: var(--accent1);
  text-decoration: none;
}
a:hover {
  color: var(--accent2);
}

/*highlights*/
mark {
  background-color: rgba(39, 110, 110, 0.438);
  color: rgb(120,180,120);
  border-radius: 1px;
  padding: 1px;
}

/*---------------
IMAGES
---------------*/

img {
  border-radius: 5px;
}

.doc .imageblock {
  display: flex;
  align-items: center;
}

/*---------------
ASCIIDOC FEATURES
---------------*/

/*header*/
#header {
  background-color: var(--back4);
  border-radius: 5px;
}
#header h1 {
  padding-top: 30px;
}
#header h1, #header .details, #toc {
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
#header .details {
  margin-top: -20px;
}
#header .author, #header .details, #email a {
  color: var(--accent1);
}
#toc, #toc .sectlevel1 li a {
  color: var(--text3);
}
#header .author, #header .details, #email a, #toc {
  font-size: 13px;
  line-height: 1.8;
}

/*header badge*/
h1::before {
  content:"#header";
  position: absolute;
  margin-top: -45px;
  margin-left: -40px;
  padding: 4px;
  background-color: var(--back2);
  border: 2px solid var(--accent1);
  border-radius: 5px;
  color: var(--accent1);
  font-size: 14px;
  font-weight: 100;
}

/*description list*/
.dlist {
  margin-top: 40px;
}
.hdlist p {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 1.8;
  margin: 0px;
}
.hdlist1 {
  font-weight: bold;
  font-style: italic;
  min-width: 70px;
  vertical-align: top;
}

/*code text*/
code {
  color: var(--code);
  background-color: var(--back4);
  border-radius: 3px;
  padding: 2px;
  color: var(--text3);
  font-family: hack, monospace;
  font-size: 13px;
}
.listingblock .content pre code {
  background-color: rgba(0,0,0,0);
}

pre {
  color: var(--text3);
}

/*quote block, code block*/
pre {
  font-size: 13px;
  background-color: var(--back3);
  padding: 12px;
  border-radius: 5px;
  overflow: scroll;
  line-height: 1.5;
}

/*divider*/
hr {
  margin-bottom: 40px;
  margin-top: 40px;
  border: none;
  border-bottom: 2px dotted var(--text3);
}

/*sidebar*/
.sidebarblock {
  padding: 20px;
  padding-bottom: 1px;
  background-color: var(--back3);
  border-radius: 5px;
  margin-bottom: 20px;
}
.sidebarblock .content .title {
  text-align: center;
  font-size: 1.1em;
  font-weight: 200;
}

/*asciidoc auto footer*/
#footer-text {
  visibility:hidden;
}

/*admonition block*/
.admonitionblock {
  margin-top: 30px;
}
.admonitionblock .content {
  background-color: var(--back4);
  border-radius: 5px;
  padding: 20px;
  color: var(--text3);
  line-height: 1.5;
}
.admonitionblock .content * {
  color: var(--text3);
}
.admonitionblock td.content {
  padding-left: 20px;
}
.admonitionblock table {
  margin-bottom: 20px;
}
/*admonition left cell*/
.icon {
  width: 0px;
}
.icon .title {
  font-size: 0px;
}

/*admonition badge*/
.note::before, .important::before, .warning::before, .caution::before, .tip::before {
  position: absolute;
  font-size: 13px !important;
  border: 2px solid;
  border-radius: 5px;
  padding: 4px;
  background-color: var(--back3);
  z-index: 1;
  margin-left: 5px;
  margin-top: -13px;
}
.note::before {
  content: 'NOTE';
  color: var(--blue);
  border-color: var(--blue);
}
.important::before {
  content: 'IMPORTANT';
  color: var(--yellow);
  border-color: var(--yellow);
}
.warning::before {
  content: 'WARNING';
  color: var(--red);
  border-color: var(--red);
}
.caution::before {
  content: 'CAUTION';
  color: var(--orange);
  border-color: var(--orange);
}
.tip::before {
  content: 'TIP';
  color: var(--green);
  border-color: var(--green);
}

/*footnotes*/
#footnotes hr {
  border-bottom: 1px solid var(--text1);
  width: 30%;
  margin-left: 0px;
  min-width: 300px;
  margin-bottom: 15px;
}
.footnote .footnote {
  color: var(--accent1);
}
#footnotes .footnote {
  color: var(--text1);
}


/*tables*/
table caption.title {
  padding: 10px;
  padding-left: 3px;
  font-size: 12px;
  text-align: left;
}
table.tableblock {
  background-color: var(--back4);
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.tableblock thead {
  border-bottom: 2px solid var(--text2);
  background-color: var(--back4);
}
.tableblock thead tr th, p.tableblock {
  padding: 8px;
  padding-right: 20px;
}
.tableblock th {
  padding: 5px;
}
/*
th+*, td+* {
  padding: 10px;
}
*/

/*references*/
#_references {
  border-top: 2px dotted var(--text3);
  margin-top: 40px;
  padding-top: 20px;
}

/*title*/

.listingblock .title, .paragraph .title {
  color: var(--accent1);
}

/*GIT*/

.gist{font-size: 18px}.gist-meta, .gist-file, .octotree_toggle, ul.comparison-list > li.title,button.button, a.button, span.button, button.minibutton, a.minibutton,span.minibutton, .clone-url-button > .clone-url-link{background: linear-gradient(#202020, #181818) !important;border-color: #383838 !important;border-radius: 0 0 3px 3px !important;text-shadow: none !important;color: #b5b5b5 !important}.markdown-format pre, .markdown-body pre, .markdown-format .highlight pre,.markdown-body .highlight pre, body.blog pre, #facebox pre, .blob-expanded,.terminal, .copyable-terminal, #notebook .input_area, .blob-code-context,.markdown-format code, body.blog pre > code, .api pre, .api code,.CodeMirror,.highlight{color: #C5C8C6!important}.gist .blob-code{padding: 1px 10px !important;text-align: left;background: #000;border: 0}::selection{background: #24890d;color: #fff;text-shadow: none}::-moz-selection{background: #24890d;color: #fff;text-shadow: none}.blob-num{padding: 10px 8px 9px;text-align: right;color: #6B6B6B!important;border: 0}.blob-code,.blob-code-inner{color: #C5C8C6!important}.pl-c,.pl-c span{color: #969896!important;font-style: italic!important}.pl-c1{color: #DE935F!important}.pl-cce{color: #DE935F!important}.pl-cn{color: #DE935F!important}.pl-coc{color: #DE935F!important}.pl-cos{color: #B5BD68!important}.pl-e{color: #F0C674!important}.pl-ef{color: #F0C674!important}.pl-en{color: #F0C674!important}.pl-enc{color: #DE935F!important}.pl-enf{color: #F0C674!important}.pl-enm{color: #F0C674!important}.pl-ens{color: #DE935F!important}.pl-ent{color: #B294BB!important}.pl-entc{color: #F0C674!important}.pl-enti{color: #F0C674!important;font-weight: 700!important}.pl-entm{color: #C66!important}.pl-eoa{color: #B294BB!important}.pl-eoac{color: #C66!important}.pl-eoac .pl-pde{color: #C66!important}.pl-eoai{color: #B294BB!important}.pl-eoai .pl-pde{color: #B294BB!important}.pl-eoi{color: #F0C674!important}.pl-k{color: #B294BB!important}.pl-ko{color: #B294BB!important}.pl-kolp{color: #B294BB!important}.pl-kos{color: #DE935F!important}.pl-kou{color: #DE935F!important}.pl-mai .pl-sf{color: #C66!important}.pl-mb{color: #B5BD68!important;font-weight: 700!important}.pl-mc{color: #B294BB!important}.pl-mh .pl-pdh{color: #DE935F!important}.pl-mi{color: #B294BB!important;font-style: italic!important}.pl-ml{color: #B5BD68!important}.pl-mm{color: #C66!important}.pl-mp{color: #81A2BE!important}.pl-mp1 .pl-sf{color: #81A2BE!important}.pl-mq{color: #DE935F!important}.pl-mr{color: #B294BB!important}.pl-ms{color: #B294BB!important}.pl-pdb{color: #B5BD68!important;font-weight: 700!important}.pl-pdc{color: #969896!important;font-style: italic!important}.pl-pdc1{color: #DE935F!important}.pl-pde{color: #DE935F!important}.pl-pdi{color: #B294BB!important;font-style: italic!important}.pl-pds{color: #B5BD68!important}.pl-pdv{color: #C66!important}.pl-pse{color: #DE935F!important}.pl-pse .pl-s2{color: #DE935F!important}.pl-s{color: #B294BB!important}.pl-s1{color: #B5BD68!important}.pl-s2{color: #c5c8c6!important}.pl-mp .pl-s3{color: #B294BB!important}.pl-s3{color: #81a2be!important}.pl-sc{color: #c5c8c6!important}.pl-scp{color: #DE935F!important}.pl-sf{color: #DAD085!important}.pl-smc{color: #F0C674!important}.pl-smi{color: #c5c8c6!important}.pl-smp{color: #c5c8c6!important}.pl-sok{color: #B294BB!important}.pl-sol{color: #B5BD68!important}.pl-som{color: #C66!important}.pl-sr{color: #C66!important}.pl-sra{color: #B294BB!important}.pl-src{color: #B294BB!important}.pl-sre{color: #B294BB!important}.pl-st{color: #B294BB!important}.pl-stj{color: #c5c8c6!important}.pl-stp{color: #DE935F!important}.pl-sv{color: #DE935F!important}.pl-v{color: #DE935F!important}.pl-vi{color: #DE935F!important}.pl-vo{color: #C66!important}.pl-vpf{color: #DE935F!important}.pl-mi1{color: #8F9D6A!important;background: rgba(0,64,0,.5)!important}.pl-mdht{color: #8F9D6A!important;background: rgba(0,64,0,.5)!important}.pl-md{color: #C66!important;background: rgba(64,0,0,.5)!important}.pl-mdhf{color: #C66!important;background: rgba(64,0,0,.5)!important}.pl-mdr{color: #DE935F!important;font-weight: 400!important}.pl-mdh{color: #C66!important;font-weight: 400!important}.pl-mdi{color: #C66!important;font-weight: 400!important}.pl-ib{background-color: #C66!important}.pl-id{background-color: #C66!important;color: #fff!important}.pl-ii{background-color: #C66!important;color: #fff!important}.pl-iu{background-color: #C66!important}.pl-mo{color: #c5c8c6!important}.pl-mri{color: #DE935F!important}.pl-ms1{background-color: #c5c8c6!important}.pl-va{color: #DE935F!important}.pl-vpu{color: #DE935F!important}.pl-entl{color: #c5c8c6!important}.CodeMirror-gutters{background: #222!important;border-right: 1px solid #484848!important}.CodeMirror-guttermarker{color: #fff!important}.CodeMirror-guttermarker-subtle{color: #aaa!important}.CodeMirror-linenumber{color: #aaa!important}.CodeMirror-cursor{border-left: 1px solid #fff!important}.CodeMirror-activeline-background{background: #27282E!important}.CodeMirror-matchingbracket{outline: 1px solid grey!important;color: #fff!important}.cm-keyword{color: #f9ee98!important}.cm-atom{color: #FC0!important}.cm-number{color: #ca7841!important}.cm-def{color: #8DA6CE!important}.cm-variable-2,span.cm-tag{color: #607392!important}.cm-variable-3,span.cm-def{color: #607392!important}.cm-operator{color: #cda869!important}.cm-comment{color: #777!important;font-style: italic!important;font-weight: 400!important}.cm-string{color: #8f9d6a!important}.cm-string-2{color: #bd6b18!important}.cm-meta{background-color: #141414!important;color: #f7f7f7!important}.cm-builtin{color: #cda869!important}.cm-tag{color: #997643!important}.cm-attribute{color: #d6bb6d!important}.cm-header{color: #FF6400!important}.cm-hr{color: #AEAEAE!important}.cm-link{color: #ad9361!important;font-style: italic!important;text-decoration: none!important}.cm-error{border-bottom: 1px solid red!important}#notebook .highlight table{background: #1d1f21!important;color: #c5c8c6!important}.highlight .hll{background-color: #373b41!important}.highlight .c{color: #969896!important}.highlight .err{color: #c66!important}.highlight .k{color: #b294bb!important}.highlight .l{color: #de935f!important}.highlight .h,.highlight .n{color: #c5c8c6!important}.highlight .o{color: #8abeb7!important}.highlight .p{color: #c5c8c6!important}.highlight .cm{color: #969896!important}.highlight .cp{color: #969896!important}.highlight .c1{color: #969896!important}.highlight .cs{color: #969896!important}.highlight .gd{color: #c66!important}.highlight .ge{font-style: italic!important}.highlight .gh{color: #c5c8c6!important;font-weight: 700!important}.highlight .gi{color: #b5bd68!important}.highlight .gp{color: #969896!important;font-weight: 700!important}.highlight .gs{font-weight: 700!important}.highlight .gu{color: #8abeb7!important;font-weight: 700!important}.highlight .kc{color: #b294bb!important}.highlight .kd{color: #b294bb!important}.highlight .kn{color: #8abeb7!important}.highlight .kp{color: #b294bb!important}.highlight .kr{color: #b294bb!important}.highlight .kt{color: #f0c674!important}.highlight .ld{color: #b5bd68!important}.highlight .m{color: #de935f!important}.highlight .s{color: #b5bd68!important}.highlight .na{color: #81a2be!important}.highlight .nb{color: #c5c8c6!important}.highlight .nc{color: #f0c674!important}.highlight .no{color: #c66!important}.highlight .nd{color: #8abeb7!important}.highlight .ni{color: #c5c8c6!important}.highlight .ne{color: #c66!important}.highlight .nf{color: #81a2be!important}.highlight .nl{color: #c5c8c6!important}.highlight .nn{color: #f0c674!important}.highlight .nx{color: #81a2be!important}.highlight .py{color: #c5c8c6!important}.highlight .nt{color: #8abeb7!important}.highlight .nv{color: #c66!important}.highlight .ow{color: #8abeb7!important}.highlight .w{color: #c5c8c6!important}.highlight .mf{color: #de935f!important}.highlight .mh{color: #de935f!important}.highlight .mi{color: #de935f!important}.highlight .mo{color: #de935f!important}.highlight .sb{color: #b5bd68!important}.highlight .sc{color: #c5c8c6!important}.highlight .sd{color: #969896!important}.highlight .s2{color: #b5bd68!important}.highlight .se{color: #de935f!important}.highlight .sh{color: #b5bd68!important}.highlight .si{color: #de935f!important}.highlight .sx{color: #b5bd68!important}.highlight .sr{color: #b5bd68!important}.highlight .s1{color: #b5bd68!important}.highlight .ss{color: #b5bd68!important}.highlight .bp{color: #c5c8c6!important}.highlight .vc{color: #c66!important}.highlight .vg{color: #c66!important}.highlight .vi{color: #c66!important}.highlight .il{color: #de935f!important}


.gist .gist-data {
  border-bottom: 0px solid rgba(0,0,0,0) !important;
}

.gist .highlight {
  background: var(--back3) !important;
}


/* quoteblock */

.quoteblock {
  font-style: italic;
  color: var(--text1)
}

.quoteblock .attribution {
  font-style: italic;
  color: var(--text3);
}