/*-------------
COLOR VARIABLES
-------------*/

:root {                                
  --back1:    rgba(20,22, 25, 1);          /* background color 1 */
/*  --back2:    rgba(32,35,42, 1); */
  --back3:    rgba(26,28,32, 1);
  --back4:    rgba(255,255,255,0.05);
  --text1:    rgba(255,255,255,0.7);
  --text2:    rgba(255,255,255, 1);
  --text3:    rgba(255,255,255,0.4);
  --accent1:  rgb(228, 200, 148);
  --accent2:  rgb(0, 160, 125);

  --blue:     rgba(159, 214, 236, 1);
  --green:    rgba(155, 190, 91, 1);
  --yellow:   rgba(255, 248, 153, 1);
  --orange:   rgba(218, 170, 108, 1);
  --red:      rgba(238, 145, 122, 1);
}

/* notecard specifics (the rest is identical to adoc-modern.css */

.sectionbody hr {
  display: block;
  height: 100px;
  background-image: url("https://github.com/mszob/adoc-theme/blob/main/adoc-divider.png?raw=true");
  background-size: 580px;
  border: 0px solid;
  width: 118%;
  margin-left: -40px;
  margin-top: 10px;
  margin-bottom: 30px;
}
html[lang="en"] body {
  background-color: var(--back2) !important;
  position: absolute;
  width: 500px;
  margin-left: 50%;
  left: -275px;
  padding-left: 25px;
  padding-right: 25px;
}
html[lang="en"] {
  background-color: var(--back1);
}
*/


/*background*/
html {
  background-color: var(--back2);
}

/*text area*/
body {
  border-radius: 12px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5px;
  margin-top: 100px;
}

/*heading, title*/
h1,h2,h3,h4,h5,h6,p,.title,.content {
  padding-left: 5px;
  padding-right: 5px;
}

/*paragraph*/
p {
  padding-top: 15px;
  line-height: 1.8;
}

/*list*/
li p {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
ul, ol {
  padding-left: 25px;
  margin-bottom: 20px;
}
ul {
  margin-top: 0px;
}

/*-------------------
FONTS AND TEXT COLORS
-------------------*/

/*default text font*/
p, .title, .content, .hdlist1, .footnote {
  font-family: arial, sans-serif;
}

/*headings and titles font*/
h1, h2, h3, h4, h5, h6, .sidebarblock .content .title, .ulist .title, .olist .title,
.admonitionblock .icon .title, pre, #header .author, #header .details, #email a, #toc,
.note::before, .important::before, .warning::before, .caution::before, .tip::before, th,
table caption.title {
  font-family: menlo, monospace;
}

/*list bullet, list number*/
li::marker {
  color: var(--text3);
  font-family: sans-serif;
}

/*list bullet*/
ul li::marker {
  content: "- ";
}

/*default text color*/
td.content, .ulist .title, p, .hdlist1, th {
  color: var(--text1);
}

/*highlighted text color*/
h1, h2,h3,h4,h5,h6, .sidebarblock .title, table caption.title {
  color: var(--text2);
}

/*link*/
a {
  color: var(--accent1);
  text-decoration: none;
}
a:hover {
  color: var(--accent2);
}

/*highlights*/
mark {
  background-color: rgba(39, 110, 110, 0.438);
  color: rgb(120,180,120);
  border-radius: 1px;
  padding: 1px;
}

/*---------------
IMAGES
---------------*/

img {
  border-radius: 5px;
}

.doc .imageblock {
  display: flex;
  align-items: center;
}

/*---------------
ASCIIDOC FEATURES
---------------*/

/*header*/
#header {
  background-color: var(--back4);
  border-radius: 5px;
}
#header h1 {
  padding-top: 30px;
}
#header h1, #header .details, #toc {
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
#header .details {
  margin-top: -20px;
}
#header .author, #header .details, #email a {
  color: var(--accent1);
}
#toc, #toc .sectlevel1 li a {
  color: var(--text3);
}
#header .author, #header .details, #email a, #toc {
  font-size: 13px;
  line-height: 1.8;
}

/*header badge*/
h1::before {
  content:"#header";
  position: absolute;
  margin-top: -45px;
  margin-left: -40px;
  padding: 4px;
  background-color: var(--back2);
  border: 2px solid var(--accent1);
  border-radius: 5px;
  color: var(--accent1);
  font-size: 14px;
  font-weight: 100;
}

/*description list*/
.dlist {
  margin-top: 40px;
}
.hdlist p {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 1.8;
  margin: 0px;
}
.hdlist1 {
  font-weight: bold;
  font-style: italic;
  min-width: 70px;
  vertical-align: top;
}

/*code text*/
code {
  color: var(--code);
  background-color: var(--back1);
  border-radius: 3px;
  padding: 2px;
  color: var(--text3);
  font-family: menlo, monospace;
}
.listingblock .content pre code {
  background-color: rgba(0,0,0,0);
}

pre {
  color: var(--text3);
}

/*quote block, code block*/
pre {
  font-size: 13px;
  background-color: var(--back3);
  padding: 20px;
  border-radius: 5px;
  overflow: scroll;
  line-height: 1.5;
}

/*divider*/
hr {
  margin-bottom: 40px;
  margin-top: 40px;
  border: none;
  border-bottom: 2px dotted var(--text3);
}

/*sidebar*/
.sidebarblock {
  padding-top: 10px;
  background-color: var(--back3);
  border-radius: 5px;
  margin-bottom: 20px;
}
.sidebarblock .content .title {
  text-align: center;
  font-size: 1.1em;
  font-weight: 200;
}

/*asciidoc auto footer*/
#footer-text {
  visibility:hidden;
}

/*admonition block*/
.admonitionblock {
  margin-top: 30px;
}
.admonitionblock .content {
  background-color: var(--back3);
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  color: var(--text3);
  line-height: 1.5;
}
.admonitionblock .content * {
  color: var(--text3);
}
.admonitionblock td.content {
  padding-left: 20px;
}
.admonitionblock table {
  margin-bottom: 20px;
}
/*admonition left cell*/
.icon {
  width: 0px;
}
.icon .title {
  font-size: 0px;
}

/*admonition badge*/
.note::before, .important::before, .warning::before, .caution::before, .tip::before {
  position: absolute;
  font-size: 13px !important;
  border: 2px solid;
  border-radius: 5px;
  padding: 4px;
  background-color: var(--back3);
  z-index: 1;
  margin-left: 5px;
  margin-top: -13px;
}
.note::before {
  content: 'NOTE';
  color: var(--blue);
  border-color: var(--blue);
}
.important::before {
  content: 'IMPORTANT';
  color: var(--yellow);
  border-color: var(--yellow);
}
.warning::before {
  content: 'WARNING';
  color: var(--red);
  border-color: var(--red);
}
.caution::before {
  content: 'CAUTION';
  color: var(--orange);
  border-color: var(--orange);
}
.tip::before {
  content: 'TIP';
  color: var(--green);
  border-color: var(--green);
}

/*footnotes*/
#footnotes hr {
  border-bottom: 1px solid var(--text1);
  width: 30%;
  margin-left: 0px;
  min-width: 300px;
  margin-bottom: 15px;
}
.footnote .footnote {
  color: var(--accent1);
}
#footnotes .footnote {
  color: var(--text1);
}


/*tables*/
table caption.title {
  padding: 10px;
  padding-left: 3px;
  font-size: 12px;
  text-align: left;
}
table.tableblock {
  background-color: var(--back4);
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.tableblock thead {
  border-bottom: 2px solid var(--text2);
  background-color: var(--back4);
}
.tableblock thead tr th, p.tableblock {
  padding: 8px;
  padding-right: 20px;
}
.tableblock th {
  padding: 5px;
}
th *, td * {
  padding: 10px;
}

/*references*/
#_references {
  border-top: 2px dotted var(--text3);
  margin-top: 40px;
  padding-top: 20px;
}